@mixin centerer($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } @else if ($horizontal) {
      left: 50%;
      transform: translate(-50%, 0);
    } @else if ($vertical) {
      top: 50%;
      transform: translate(0, -50%);
    }
  }
html, body, #root{
    padding: 0;
    margin: 0;
    height: 100%;
}
input {
    background: transparent;
}
.App {
    height: 80%;
}
.Clable {
    height: 20%;
    width: 100%;
    margin: 0%;
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    border: none;
    border-bottom: solid 1px #222;
}
.main {
    display: flex;
    height: 100%;
    .mid {
        @include centerer;
        display: flex;
        flex-direction: column;
        * {
            margin: 10px auto;
        }
    }
    button {
        border-radius: 4rem;
        background-color: #404040;
        -moz-box-shadow: 0px 0px 10px 3px #aaa;
        -webkit-box-shadow: 0px 0px 10px 3px #aaa;
        box-shadow: 0px 0px 10px 3px #aaa;
        color: #FFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .start {
        width: 7rem;
        height: 7rem;
        font-size: xx-large;
    }
    .reset {
        width: 3rem;
        height: 3rem;
        font-size: small;
    }
    .card {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        * {
            margin: auto;
        }
        .teamName {
            border: none;
            font-weight: 900;
            font-size: 3rem;
            text-align: center;
            max-width: 90%;
        }
        .TimerBox span {
            font-weight: 900;
            font-size: 7rem;
        }
        .label {
            font-size: 4rem;
            text-align: center;
            word-wrap: break-word;
            max-width: 90%;
        }
        .turns {
            
            flex-direction: row;
            .TurnBox {
                display: inline-block;
                margin: 0px 10px;
                * {
                    margin: auto;
                }
                div {
                    text-align: center;
                }
                -moz-box-shadow: 0px 0px 10px 3px #aaa;
                -webkit-box-shadow: 0px 0px 10px 3px #aaa;
                box-shadow: 0px 0px 10px 3px #aaa;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
    .card:first-child {
        border-right: solid 1px #222;
    }
}
.c0 {
    background-color: #8f8f8f;
    color: #FFF;
    input {
        color: #FFF;
    }
}
.c1 {
    background-color: #00af91;
}
.c2 {
    background-color: #007965;
    color: #FFF;
}
.c3 {
    background-color: #f58634;
}
.c4 {
    background-color: #e70045;
    animation: bcmove 5s infinite;
    animation-timing-function: ease-out; 
    color: #FFF;
    input {
        color: #FFF;
    }
}

@keyframes bcmove {
    0% {background-color: #e70045;}
    50% {background-color: #5c0101;}
    100% {background-color: #e70045;}
  }